 
 
.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;}
   
  header{
  padding-top: 50px;
  align-items: center;
  background-color:#FFF8F3
  }
  nav{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
   

  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }